<div class="cotainer">
  <h1>留言板</h1>
  <div class="card">
      <p-table [value]="messages" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>暱稱</th>
            <th>主旨</th>
            <th>新增時間</th>
            <th style="width:16rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-message let-rowIndex="rowIndex">
          <tr>
            <td>{{message.name}}</td>
            <td>{{message.title}}</td>
            <td>{{message.createdAt | date:'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>
              <button pButton pRipple type="button" label="刪除留言" class="p-button-info mr8" (click)="showBasicDialog(rowIndex)"  label="詳細內容"></button>
              <p-dialog header="詳細內容" [(visible)]="displayBasicArray[rowIndex]" [style]="{width: '50vw',height:'50vh'}" [baseZIndex]="10000">
                <detail-dialog [message]="message" style="height: 100%;"></detail-dialog>              
              </p-dialog>
              <p-confirmDialog #cd [style]="{width: '25vw'}">
                <ng-template pTemplate="footer">
                    <button type="button" pButton  label="取消" (click)="cd.reject()"></button>
                    <button type="button" pButton class="p-button-success"  label="確定" (click)="cd.accept()"></button>
                </ng-template>
            </p-confirmDialog>
              <button pButton pRipple type="button" label="刪除留言" class="p-button-danger"
                (click)="delete(message.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </div>
  <create (insertEvent)="insert($event)"></create>
</div>