/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1280px;
}
.mr8 {
  margin-right: 8px !important;
}
